<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Configuracion de Apache Tiles -->
<!-- 	<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"/> -->
<!-- 	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer"/> -->
	
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ElectronicaDonPepe_Branch" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Session factory de Hibernate -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean" />

		<property name="annotatedClasses">
			<list>
				<value>tpFinal.security.Usuario</value>
				<value>tpFinal.security.RolUsuario</value>
				<value>tpFinal.domain.Producto</value>
				<value>tpFinal.domain.Vendedor</value>
				<value>tpFinal.domain.Venta</value>
				<value>tpFinal.domain.Adicional</value>
				<value>tpFinal.domain.Comision</value>
				<value>tpFinal.domain.ComisionProducto</value>
				<value>tpFinal.domain.ComisionVenta</value>
				<value>tpFinal.domain.Premio</value>
				<value>tpFinal.domain.Campania</value>
				<!-- <value>tpFinal.domain.Payroll</value> -->
				<value>tpFinal.domain.adicional.monto.ComisionProductoMonto</value>
				<value>tpFinal.domain.adicional.monto.ComisionVentaMonto</value>
				<value>tpFinal.domain.adicional.monto.PremioMonto</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop> <!-- CREACION DE LA BASE -->
			</props>
		</property>
	</bean>

	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	<!-- Para que lea los metodos anotados con @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- Capa de acceso a datos "Tradicional" -->
	<!-- <bean id="dataAccessBean" class="tpFinal.dataccess.impl.DataAccessPlano"
		scope="singleton">
	</bean> -->

	<!-- Capa de accesso a datos usando el hibernateTemplate de Spring -->
	<bean id="dataAccessBean" class="tpFinal.dataAccess.impl.DataAccessImplHibernateTemplate" scope="singleton">
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
		
	<!-- tpFinal.dao.impl -->
	<bean id="AdicionalDao" class="tpFinal.dao.impl.AdicionalDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="CampaniaDao" class="tpFinal.dao.impl.CampaniaDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="ComisionProductoDao" class="tpFinal.dao.impl.ComisionProductoDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="ComisionProductoMontoDao" class="tpFinal.dao.impl.ComisionProductoMontoDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="ComisionVentaDao" class="tpFinal.dao.impl.ComisionVentaDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="ComisionVentaMontoDao" class="tpFinal.dao.impl.ComisionVentaMontoDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="PremioDao" class="tpFinal.dao.impl.PremioDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="PremioMontoDao" class="tpFinal.dao.impl.PremioMontoDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="ProductoDao" class="tpFinal.dao.impl.ProductoDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="RolUsuarioDao" class="tpFinal.dao.impl.RolUsuarioDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="UsuarioDao" class="tpFinal.dao.impl.UsuarioDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="VendedorDao" class="tpFinal.dao.impl.VendedorDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	<bean id="VentaDao" class="tpFinal.dao.impl.VentaDao">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>
	
	<!-- tpFinal.service.findItem.findItemImpl -->
	<bean id="AdicionalFindItem" class="tpFinal.service.findItem.findItemImpl.AdicionalFindItem">
		<property name="dao" ref="AdicionalDao"></property>
	</bean>
	<bean id="CampaniaFindItem" class="tpFinal.service.findItem.findItemImpl.CampaniaFindItem">
		<property name="dao" ref="CampaniaDao"></property>
	</bean>
	<bean id="ComisionProductoFindItem" class="tpFinal.service.findItem.findItemImpl.ComisionProductoFindItem">
		<property name="dao" ref="ComisionProductoDao"></property>
	</bean>
	<bean id="ComisionVentaFindItem" class="tpFinal.service.findItem.findItemImpl.ComisionVentaFindItem">
		<property name="dao" ref="ComisionVentaDao"></property>
	</bean>
	<bean id="PremioFindItem" class="tpFinal.service.findItem.findItemImpl.PremioFindItem">
		<property name="dao" ref="PremioDao"></property>
	</bean>
	<bean id="ProductoFindItem" class="tpFinal.service.findItem.findItemImpl.ProductoFindItem">
		<property name="dao" ref="ProductoDao"></property>
	</bean>
	<bean id="UsuarioFindItem" class="tpFinal.service.findItem.findItemImpl.UsuarioFindItem">
		<property name="dao" ref="UsuarioDao"></property>
	</bean>
	<bean id="VendedorFindItem" class="tpFinal.service.findItem.findItemImpl.VendedorFindItem">
		<property name="dao" ref="VendedorDao"></property>
	</bean>
	<bean id="VentaFindItem" class="tpFinal.service.findItem.findItemImpl.VentaFindItem">
		<property name="dao" ref="VentaDao"></property>
	</bean>
	
	<!-- tpFinal.service.calculation.calculationImpl -->
	<!-- <bean id="CalculationUtils" class="tpFinal.service.calculation.CalculationUtils" scope="singleton">
		<property name="findVentas" ref="VentaFindItem"></property>
	</bean> -->
	<bean id="CampaniaCalculation" class="tpFinal.service.calculation.calculationImpl.CampaniaCalculation">
		<property name="dao" ref="CampaniaDao"></property>
		<property name="findItem" ref="CampaniaFindItem"></property>
		<property name="productoDao" ref="ProductoDao"></property>
	</bean>
	<bean id="ComisionProductoCalculation" class="tpFinal.service.calculation.calculationImpl.ComisionProductoCalculation">
		<property name="daoMontos" ref="ComisionProductoMontoDao"></property>
		<property name="findItem" ref="ComisionProductoFindItem"></property>
		<property name="findVentas" ref="VentaFindItem"></property>
	</bean>
	<bean id="ComisionVentaCalculation" class="tpFinal.service.calculation.calculationImpl.ComisionVentaCalculation">
		<property name="daoMontos" ref="ComisionVentaMontoDao"></property>
		<property name="findItem" ref="ComisionVentaFindItem"></property>
		<property name="findVentas" ref="VentaFindItem"></property>
	</bean>
	<bean id="PremioCampaniaCalculation" class="tpFinal.service.calculation.calculationImpl.PremioCampaniaCalculation">
		<property name="daoMontos" ref="PremioMontoDao"></property>
		<property name="findItem" ref="PremioFindItem"></property>
		<property name="campaniaFindItem" ref="CampaniaFindItem"></property>
		<property name="findVentas" ref="VentaFindItem"></property>
	</bean>
	<bean id="PremioMesCalculation" class="tpFinal.service.calculation.calculationImpl.PremioMesCalculation">
		<property name="daoMontos" ref="PremioMontoDao"></property>
		<property name="findItem" ref="PremioFindItem"></property>
		<property name="findVentas" ref="VentaFindItem"></property>
	</bean>
	<bean id="UsuarioCalculation" class="tpFinal.service.calculation.calculationImpl.UsuarioCalculation">
		<property name="dao" ref="UsuarioDao"></property>
		<property name="findItem" ref="UsuarioFindItem"></property>
		<property name="rolDao" ref="RolUsuarioDao"></property>
		<property name="vendedorDao" ref="VendedorDao"></property>
	</bean>
	<bean id="VentaCalculation" class="tpFinal.service.calculation.calculationImpl.VentaCalculation">
		<property name="dao" ref="VentaDao"></property>
		<property name="productoDao" ref="ProductoDao"></property>
	</bean>
	<bean id="ComisionProductoMontoCalculation" class="tpFinal.service.calculation.calculationImpl.ComisionProductoMontoCalculation">
		<property name="montoDao" ref="ComisionProductoMontoDao"></property>
		<property name="registroComisionDao" ref="ComisionProductoDao"></property>
	</bean>
	<bean id="ComisionVentaMontoCalculation" class="tpFinal.service.calculation.calculationImpl.ComisionVentaMontoCalculation">
		<property name="montoDao" ref="ComisionVentaMontoDao"></property>
		<property name="registroComisionDao" ref="ComisionVentaDao"></property>
	</bean>
	<bean id="PremioMontoCalculation" class="tpFinal.service.calculation.calculationImpl.PremioMontoCalculation">
		<property name="montoDao" ref="PremioMontoDao"></property>
		<property name="registroPremioDao" ref="PremioDao"></property>
	</bean>
	<bean id="AdicionalMontoCalculation" class="tpFinal.service.calculation.calculationImpl.AdicionalMontoCalculation">
		<property name="comisionProducto" ref="ComisionProductoMontoCalculation"></property>
		<property name="comisionVenta" ref="ComisionVentaMontoCalculation"></property>
		<property name="premio" ref="PremioMontoCalculation"></property>
	</bean>
	<bean id="VendedorCalculation" class="tpFinal.service.calculation.calculationImpl.VendedorCalculation">
		<property name="dao" ref="VendedorDao"></property>
		<property name="findItem" ref="VendedorFindItem"></property>
		<property name="usuarioCalculation" ref="UsuarioCalculation"></property>
	</bean>
	<bean id="AdicionalCalculation" class="tpFinal.service.calculation.calculationImpl.AdicionalCalculation">
		<property name="dao" ref="AdicionalDao"></property>
		<property name="findItem" ref="AdicionalFindItem"></property>
		<property name="vendedorFindItem" ref="VendedorFindItem"></property>
 		<property name="findVentas" ref="VentaFindItem"></property>
		<property name="calculoPremioMes" ref="PremioMesCalculation"></property>
		<property name="calculoPremioCampania" ref="PremioCampaniaCalculation"></property>
		<property name="calculoComisionProducto" ref="ComisionProductoCalculation"></property>
		<property name="calculoComisionVenta" ref="ComisionVentaCalculation"></property>
	</bean>
	
	<!-- tpFinal.service -->
	<bean id="AdicionalService" class="tpFinal.service.AdicionalService">
		<property name="findItem" ref="AdicionalFindItem"></property>
		<property name="dao" ref="AdicionalDao"></property>
		<property name="calculation" ref="AdicionalCalculation"></property>
	</bean>
	<bean id="AdicionalMontoService" class="tpFinal.service.AdicionalMontoService">
		<property name="montoVentaDao" ref="ComisionVentaMontoDao"></property>
		<property name="montoProductoDao" ref="ComisionProductoMontoDao"></property>
		<property name="montoPremioDao" ref="PremioMontoDao"></property>
	</bean>
	<bean id="VentaService" class="tpFinal.service.VentaService">
		<property name="findItem" ref="VentaFindItem"></property>
		<property name="dao" ref="VentaDao"></property>
		<property name="calculation" ref="VentaCalculation"></property>
	</bean>
	
	<!-- tpFinal.service.servlets -->
	<!-- <bean id="ServletUtils" class="tpFinal.servlets.ServletUtils">
		<property name="usuarioCalculation" ref="UsuarioCalculation"></property>
	</bean>
	<bean id="Login" class="tpFinal.servlets.ServletLogin">
		<property name="findItem" ref="UsuarioFindItem"></property>
		<property name="calculation" ref="UsuarioCalculation"></property>
	</bean>
	<bean id="Logout" class="tpFinal.servlets.ServletLogout"></bean>
	<bean id="Index" class="tpFinal.servlets.ServletIndex"></bean>
	<bean id="VentaNueva" class="tpFinal.servlets.ServletVentaNueva">
		<property name="service" ref="VentaService"></property>
	</bean>
	<bean id="VentaConsulta" class="tpFinal.servlets.ServletVentaConsulta">
		<property name="service" ref="VentaService"></property>
	</bean>
	<bean id="VentaDetalle" class="tpFinal.servlets.ServletVentaDetalle">
		<property name="service" ref="VentaService"></property>
	</bean>
	<bean id="Admin" class="tpFinal.servlets.ServletAdministrador">
		<property name="usuarioCalculation" ref="UsuarioCalculation"></property>
		<property name="vendedorCalculation" ref="VendedorCalculation"></property>
	</bean>
	<bean id="Adicionales" class="tpFinal.servlets.ServletAdicional">
		<property name="service" ref="AdicionalService"></property>
	</bean>
	<bean id="Montos" class="tpFinal.servlets.ServletAdicionalMonto">
		<property name="service" ref="AdicionalMontoService"></property>
	</bean>
	<bean id="Campanias" class="tpFinal.servlets.ServletCampania">
		<property name="calculation" ref="CampaniaCalculation"></property>
	</bean> -->
</beans>
