<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/ElectronicaDonPepe_Branch</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		
		<!-- ESTO CREA LA BASE A PARTIR DE LAS ENTIDADES -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping class="TpFinal.security.Usuario"></mapping>
		<mapping class="TpFinal.security.RolUsuario"></mapping>
		<mapping class="TpFinal.domain.Producto"></mapping>
		<mapping class="TpFinal.domain.Vendedor"></mapping>
		<mapping class="TpFinal.domain.Venta"></mapping>
		<mapping class="TpFinal.domain.Adicional"></mapping>
		<mapping class="TpFinal.domain.Comision"></mapping>
		<mapping class="TpFinal.domain.ComisionProducto"></mapping>
		<mapping class="TpFinal.domain.ComisionVenta"></mapping>
		<mapping class="TpFinal.domain.Premio"></mapping>
		<mapping class="TpFinal.domain.Campania"></mapping>
		<!-- <mapping class="TpFinal.domain.Payroll"></mapping> -->
		<mapping class="TpFinal.domain.adicional.monto.ComisionProductoMonto"></mapping>
		<mapping class="TpFinal.domain.adicional.monto.ComisionVentaMonto"></mapping>
		<mapping class="TpFinal.domain.adicional.monto.PremioMonto"></mapping>
	</session-factory>
</hibernate-configuration>